@import "tailwindcss";

/* - Corrigindo o estilo do autofill do navegador - */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(229, 231, 235, 1) inset;
  -webkit-text-fill-color: #374151 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(229, 231, 235, 1) inset;
  -webkit-text-fill-color: #374151 !important;
}
